@{
    ViewData["Title"] = "History";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@if (ViewBag.ResultMessage != null)
{
    <h4 style="width: 100%; text-align: center;">@ViewBag.ResultMessage</h4>
}

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ocrResult in Model)
            {
                <tr>
                    <td>@ocrResult.ImageFilename</td>
                    <td>
                        <a asp-action="Download" asp-route-id="@ocrResult.Id">Image</a> |
                        <a asp-action="DownloadText" asp-route-id="@ocrResult.Id">Text</a> |
                        <a asp-action="Edit" asp-route-id="@ocrResult.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@ocrResult.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

